---
- name: Spotify role
  tags:
    - spotify
  block:

  # add repo
  - ansible.builtin.import_tasks: "{{ spotify_apt_repo_subtask }}"

  # only update cache if repo has been added
  - name: Update apt cache
    when: __spotify_add_repo.changed
    become: true
    ansible.builtin.apt:
      update_cache: true

  # install spotify
  - name: Apt spotify-client -> {{ spotify_apt_state }}
    become: true
    ansible.builtin.apt:
      state: "{{ spotify_apt_state }}"
      name: spotify-client